<div id="signin">
<div id="notice"><%= notice %></div>
<%= form_for(:session, :url => sessions_path) do |f| %>
	<fieldset>
<span> 
	<%= f.label :name, "UserName", :clas=>"label" %>
	<%=h f.text_field :name, :size => 15, :class=>"input" %>
</span> 
<span> 
	<%= f.label :password, :class=>"label" %>
	<%=h f.password_field :password, :size => 15 , :class=>"input" %> 
</span> 
<span> 
	<%= f.submit "SignIn" %> 
</span> 
<% end %>
<div id="notice"><%= flash[:error] %></div>
</div>
<div id="signin">
