<h1>Create new user<span>I want to be a user of AizuWeather.</span></h1>
<div id="content">
<% if session[:user].nil? %>
<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
    <div >
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<% end %>
	<fieldset>
	<div >
		<%= f.label :name, "UserName" %>
		<div class="input"><%=h f.text_field :name %></div>
	</div>
	<div >
		<%= f.label :password, "Password" %>
		<div class="input"><%=h f.password_field :password %></div>
	</div>
	<div>
		<%= f.label :password_confirmation, "Password(confirm)" %>
		<div class="input"><%=h f.password_field :password_confirmation %></div>
	</div>
	<div class="actions">
		<%=f.submit "create" %>
	</div>
	</fieldset>
<% end %>

<% else %>
	<p>You are logging. Please sign out.</p> <%= link_to 'SignOut', new_session_path, :method => :delete %> 
<% end %>
</div>
