<%= form_for(@instrument) do |f| %>
  <% if @instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
      <% @instrument.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<fieldset>
	<div >
		<%= f.hidden_field :user_id, :value => session[:user] %>
	</div>
  <div >
		<label><%= :Latitude %></label>
		<div class="input"><%= f.text_field :latitude %></div>
	</div>
  <div>
		<label><%= :Longitude %></label>
		<div class="input"><%= f.text_field :longitude %></div>
	</div>
	<div>
		<label>Type</label>
		<div class="input"><%= f.text_field :type_of_instrument %></div>
	</div>
	<div>
		<label>Data Characteristics</label>
		<div class="input">
				<label>
				<%= f.check_box :temperature %>
				<span><%= :Temperature %></span>
				</label>
				<label>
				<%= f.check_box :pressure %>
				<span><%= :Pressure %></span>
				</label>
				<label>
				<%= f.check_box :humidity %>
				<span><%= :Humidity %></span>
				</label>
		</div>
 </div>
	<div class="actions">
		<%= f.submit%>
	</div>
	</fieldset>
<% end %>
