<%= form_for(@instrument) do |f| %>
  <% if @instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
      <% @instrument.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="field">
		<%= f.hidden_field :user_id, :value => session[:user] %>
	</div>
  <div class="field">
		<b><%= f.label :latitude %></b><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
		<b><%= f.label :longitude %></b><br />
    <%= f.text_field :longitude %>
	</div>
  <div class="field">
		<b>Type</b><br />
    <%= f.text_field :type_of_instrument %>
	</div>
	<div class="data_characteristics">
		<b>Data Characteristics</b>
  	<div class="field">
  	  <%= f.label :temperature %><br />
  	  <%= f.check_box :temperature %>
  	</div>
	</div>
  <div class="field">
    <%= f.label :pressure %><br />
    <%= f.check_box :pressure %>
  </div>
  <div class="field">
    <%= f.label :humidity %><br />
    <%= f.check_box :humidity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
