<h1>Listing instruments</h1>

<table border=1px>
	<tr>
		<th>User</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Type</th>
    <th>Temperature</th>
    <th>Pressure</th>
		<th>Humidity</th>
		<th></th>
	</tr>
	<script>
		var lat = new Array(<%= @instruments.size %>);
		var lng = new Array(<%= @instruments.size %>);
		var i = 0;
	</script>
	<% @instruments.each do |instrument| %>
	<script>
		lat[i] = <%= instrument.latitude %>;
		lng[i++] = <%= instrument.longitude %>;
	</script>
	<tr>
		<td><%= instrument.user.name %></td>
    <td><%= instrument.latitude %></td>
    <td><%= instrument.longitude %></td>
    <td><%= instrument.type_of_instrument %></td>
    <td class="characteristics">
			<% if instrument.temperature == true %><%= image_tag("icon/badge-circle-check-16.png", :alt=>"true") %>
			<% else %><%= image_tag("icon/badge-circle-cross-16.png", :alt=>"false") %>
			<% end %>
		</td>
    <td class="characteristics">
			<% if instrument.pressure == true %><%= image_tag("icon/badge-circle-check-16.png", :alt=>"true") %>
			<% else %><%= image_tag("icon/badge-circle-cross-16.png", :alt=>"false") %>
			<% end %>
		</td>
		<td class="characteristics">
			<% if instrument.humidity == true %><%= image_tag("icon/badge-circle-check-16.png", :alt=>"true") %>
			<% else %><%= image_tag("icon/badge-circle-cross-16.png", :alt=>"false") %>
			<% end %>
		</td>
    <td><%= link_to 'Show', instrument %></td>
  </tr>
	<% end %>
</table>
<div id="map">
<%= render 'map_all' %>
</div>

